<?xml version="1.0" encoding="utf-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請瀏覽
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
	   
    <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\aspnet-AMS-20141114054437.mdf;Initial Catalog=aspnet-AMS-20141114054437;Integrated Security=True;User Instance=True"
      providerName="System.Data.SqlClient" />
	<add name="iSettle2Connection" connectionString="data source = localhost\SQLEXPRESS; initial catalog = AMS_Local ; user id = program ; password = test123; Connect Timeout=500"
      providerName="System.Data.SqlClient" />
    <!--<add name="iSettle2Connection" connectionString="data source = 10.27.68.156; initial catalog = iSettle2 ; user id = psvc ; password = psvc; Connect Timeout=500"
      providerName="System.Data.SqlClient" />
    <add name="hisConnection" connectionString="data source = 10.27.68.156; initial catalog = iSettle2 ; user id = psvc ; password = psvc"
      providerName="System.Data.SqlClient" />
    <add name="TRAADJEntities" connectionString="metadata=res://*/Models.TRAADJModel.csdl|res://*/Models.TRAADJModel.ssdl|res://*/Models.TRAADJModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.27.68.156;initial catalog=iSettle2;user id=psvc;password=psvc;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="GMADJEntities" connectionString="metadata=res://*/Models.GMADJModel.csdl|res://*/Models.GMADJModel.ssdl|res://*/Models.GMADJModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.27.68.156;initial catalog=iSettle2;user id=psvc;password=psvc;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />-->
    <!-- 自串點數平台，測試機-Dev -->
    <add name="ICASHOPConnection" connectionString="data source=localhost\SQLEXPRESS;initial catalog=AMS_Local ; user id = program ; password = test123; Connect Timeout=500" />
	  
    <!--<add name="ICASHOPConnection" connectionString="data source=10.27.68.110;initial catalog=ICASHOP_Dev;user id=icop;password=icop" providerName="System.Data.SqlClient" />-->
    <!-- 自串點數平台，測試機-Stage 
    <add name="ICASHOPConnection" connectionString="data source=10.27.68.110;initial catalog=ICASHOP;user id=icop;password=icop" providerName="System.Data.SqlClient" />
    -->
    <!--自串點數平台，正式機
    <add name="ICASHOPConnection" connectionString="data source=10.27.68.110;initial catalog=ICASHOP;user id=icop;password=icop" providerName="System.Data.SqlClient" />
    -->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.69" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ReportImg" value="D:\TFS_NEW\icasH-CodeHistory\AM\AMS\AMS\images\Image.jpg" />
    <add key="PasswordInterval" value="3" /><!--密碼變更區間(單位：月)-->
  </appSettings>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/Login/Login" timeout="2880" name="AMSAPP"></forms>
    </authentication>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1211">
        <!-- choices are INLINE, FILE, FILE-WATCH, EXTERNAL-->
        <!-- otherwise BasicConfigurer.Configure is used   -->
        <!-- log4net configuration file is specified with key configFile-->
        <!--
        <arg key="configType" value="INLINE"/>
        -->
        <arg key="configType" value="FILE-WATCH" />
        <arg key="configFile" value="~/log4net.xml" />
      </factoryAdapter>
    </logging>
  </common>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>